# Ignore files which may accidentally be added into git
Makefile
.vscode
.DS_store

# We don't need any docker related tmp files and directives anymore
image.tar
.docker
.drone.yml
.dockerignore
docker-compose.yml
docker-compose.override.yml
Dockerfile

# Git is not needed after deploy
.git
.gitignore
*/.gitignore
*/*/.gitignore

.gitkeep
*/.gitkeep
*/*/.gitkeep
*/*/*/.gitkeep
